@import '01-foundation/foundation';

// structure
@import 'structure/fonts';
@import 'structure/form';
// @import 'structure/grid';
@import 'structure/lists';
@import 'structure/table';
@import 'structure/typography';

// components
// @import 'components/blocks';
// @import 'components/buttons';
// @import 'components/footer';
// @import 'components/header';

// Animations
@import 'animations/animations';
