/*================================================
      Config Master
      
      This is the config for all the default styles of a new site.
      If a new sub-site style is needed, copy this into the new site and change options there.

      This should rarely be changed, if at all.
==================================================*/
$primary-color: $red-500;
$secondary-color: $yellow-500;
$accent-color: $blue-600;

$font-size-base: $fs-med;
$font-size-small: $fs-small;
$font-weight-base: 400;
$line-height-base: 1.5;

$body-color: $black;
$body-bg: $white;

$font-weight-bolder: 600;
$link-color: $primary-color;
$link-hover-color: $red-700;

$table-caption-color: $warm-grey-400;
$label-margin-bottom: $space-large;

$enable-pointer-cursor-for-buttons: true;

$heading-font: $merriweather_stack;
$body-font: $nimbus-sans_stack;

// to override a variable, it needs to be stated and called in a css element

html {
  font-size: $font-size-base;
  line-height: 1.5;
}

body {
  font-size: $font-size-base;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid {
  font-size: $font-size-base;
}

// General Background Colors
$general-colors: (
  'white': $white,
  'black': $black,
);

$shorcut-colors: (
  'primary': $primary-color,
  'secondary': $secondary-color,
  'accent': $accent-color,
);

@each $color, $colors in $general-colors {
  .lib-bg-#{$color} {
    background-color: $colors;
  }
}

@each $color, $colors in $shorcut-colors {
  .lib-#{$color} {
    color: $colors;
  }
}
