{% extends '../_typhoon.html.twig' %}

{% block title %}
  Writing Guide -
{% endblock %}

{% block content %}
  <h1>
    Writing Guide
  </h1>
  <p>
    Mollit est Lorem in cupidatat anim ipsum amet qui esse esse consequat. Amet
    qui quis aliquip ipsum. Esse cillum ex est amet in aute nisi minim
    consectetur commodo commodo anim. Qui cupidatat esse ea tempor elit.
    Excepteur ex sint id nostrud incididunt. Pariatur dolore amet enim
    consectetur ut ad quis.
  </p>
  <p>
    Ea pariatur incididunt tempor excepteur nostrud magna aliqua amet veniam
    veniam velit labore. Ullamco consectetur reprehenderit eiusmod
    reprehenderit. Occaecat dolore culpa enim officia deserunt qui do.
  </p>
{% endblock %}
