{% extends '../_typhoon.html.twig' %}

{% set pageClass = 'writing-guide' %}
{% set pageTitle = 'Writing Guide' %}
{% set pageDesc = 'Learn about best Writing practices' %}

{% block title %}
  Writing Guide -
{% endblock %}

{% block content %}
  <section class="lib-gen-con--block lib-text-block lib-mt_2x-large">
    <h2 class="lib-block-title">
      Voice
    </h2>
    <div class="lib-content-wrap">
      <p>
        Donec sollicitudin. Pellentesque in ipsum id orci porta dapibus. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. aliquet elit, eget
        tincidunt nibh pulvinar a.Praesent sapien massa, convallis a
        pellentesque nec, egestas non nisi.
      </p>
    </div>
  </section>
  <section class="lib-gen-con--block lib-text-block">
    <h2 class="lib-block-title">
      Tone
    </h2>
    <div class="lib-content-wrap">
      <p>
        Donec sollicitudin. Pellentesque in ipsum id orci porta dapibus. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. aliquet elit, eget
        tincidunt nibh pulvinar a.Praesent sapien massa, convallis a
        pellentesque nec, egestas non nisi.
      </p>
    </div>
  </section>
  <section class="lib-gen-con--block lib-text-block">
    <h2 class="lib-block-title">
      Reading Level
    </h2>
    <div class="lib-content-wrap">
      <p>
        Donec sollicitudin. Pellentesque in ipsum id orci porta dapibus. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. aliquet elit, eget
        tincidunt nibh pulvinar a.Praesent sapien massa, convallis a
        pellentesque nec, egestas non nisi.
      </p>
    </div>
  </section>
{% endblock %}
