<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      {% include '_head.html.twig' %}
    {% endblock %}
  </head>

  <body>
    {% block content %}

    {% endblock %}
  </body>
</html>
<!DOCTYPE html>
