<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {% include "head.twig" %}
    {% endblock head %}
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>
<!DOCTYPE html>