{% extends './_base.html.twig' %}

{% block body %}
  {% block topNav %}
    {% include '/_blocks/_top-nav.html.twig' %}
  {% endblock %}

  <div class="container-fluid typhoon-page-wrap">
    <div class="row justify-content-start typhoon-full-height">
      {% block sideNav %}
        <aside class="col typhoon-side-nav--wrap lib-p_zero lib-bg-warm-grey-100">
          {% include '/_blocks/_side-nav.html.twig' %}
        </aside>
      {% endblock %}

      <main class="col">
        <div class="lib-hero--wrap">
          <div class="lib-hero">
            {% include '/_elements/_header-special.html.twig' %}
          </div>
        </div>
        <div class="row lib-mx_large">
          {% block content %}

          {% endblock %}
        </div>
      </main>
    </div>
  </div>

  {% block footer %}
    {% include '/_blocks/_footer.html.twig' %}
  {% endblock %}
{% endblock %}
