{% extends './_base.html.twig' %}

{% block body %}
  {% block topNav %}
    {% include '/_blocks/_top-nav.html.twig' %}
  {% endblock %}

  <div class="container-fluid typhoon-page-wrap">
    <div class="row justify-content-start typhoon-full-height">
      {% block sideNav %}
        <aside class="col typhoon-side-nav--wrap lib-p_zero lib-bg_warm-grey-50">
          {% include '/_blocks/_side-nav.html.twig' %}
        </aside>
      {% endblock %}

      <div class="col">
        <div class="lib-hero--wrap">
          <div class="lib-hero">
            {% include '/_elements/_header-special.html.twig' %}
          </div>
        </div>
        <section class="typhoon-overview--wrap lib-bg_red-50 lib-pt_3x-large lib-pb_5x-large">
          <div class="typhoon-overview-text--wrap lib-px_3x-large">
            <h2 class="lib-heading-underline">
              Overview
            </h2>
            {% block overview %}
              <p>
                Non minim anim cupidatat nostrud Lorem enim esse sit qui sint
                ullamco nulla enim adipisicing. Nulla cillum veniam exercitation
                ex sunt exercitation mollit. Elit irure nulla irure pariatur
                adipisicing ex quis eiusmod ipsum nisi laboris.
              </p>
            {% endblock %}
          </div>
        </section>
        <main class="row lib-mx_large">
          {% block content %}

          {% endblock %}
        </main>
      </div>
    </div>
  </div>

  {% block footer %}
    {% include '/_blocks/_footer.html.twig' %}
  {% endblock %}
{% endblock %}
