{% extends './_typhoon.html.twig' %}

{% block content %}
  <section class="intro">
    <div class="lib-mb_2x-large">
      <p class="lead">
        This is the alpha version of the ISU Library Design system and content
        guide.
      </p>
      <div class="lib-header-special">
        <h1 class="lib-header-special--text">
          Typhoon Design
        </h1>
      </div>
    </div>
  </section>
  {# <div class="footer-wrap"></div> #}

  {# <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> #}
  {# <script src="/prod/global.js"></script> #}
  {# <script src="/prod/accordion.js"></script> #}
{% endblock %}
