
{% extends "_base.twig" %}

{% block title %}Test{% endblock title %}
{% block content %}
    <section class="container lib-my_5x-large intro">
      <div class=" lib-mb_2x-large">
        <h1>Typoon v0.1</h1>   
        <p>
          This is the alpha version of the ISU Library Design system and content
          guide.
        </p>
      </div>
    </section>
    {% include "./_blocks/_typography.html.twig" %}
    {% include "./_blocks/_colors.html.twig" %}
    <section class="container lib-my_5x-large">
      <h2>Elements</h2>
      {% include "./_elements/_buttons.html.twig" %}
    </section>
   
    <section class="container lib-my_5x-large">
      <h2 class="lib-mb_2x-large">Components</h2>
      {% include "./_components/_show.html.twig" %}
    </section>
    <section class="container lib-my_5x-large">
      <h2 class="lib-mb_4x-large lib-red-500">General Content Blocks</h2>
      {% include "./_blocks/_gen-con.html.twig" %}
      </section>
    <section class="container lib-my_5x-large">
      <div class=" lib-mb_2x-large">
        <h3>Forms</h3>
        <p>//TODO</p>
      </div>
    </section>

    <!-- <div class="footer-wrap">

	</div> -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {# <script src="/prod/global.js"></script> #}
    {# <script src="/prod/accordion.js"></script> #}

{% endblock content %}
</html>
<!DOCTYPE html>