{% extends './_typhoon.html.twig' %}

{% set pageTitle = 'Typhoon Design' %}
{% set pageDesc = 'Iowa State University Library Design System' %}

{% block content %}
  <section class="row flex-wrap">
    <article class="lib-basic-card">
      <div class="lib-basic-card--text-wrap">
        <span class="lib-basic-card--category lib-mb_x-small">Category</span>
        <h3 class="lib-basic-card--title">
          Card Title
        </h3>
        <p class="lib-basic-card--desc">
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
        <a href="" class="lib-basic-card--link">Link words</a>
      </div>
    </article>
  </section>

  {# <div class="footer-wrap"></div> #}
{% endblock %}
