/*================================================
			Border Radius
==================================================*/
// br == border-radius

$br-0: 0px;
$br-2: 2px;
$br-4: 4px;
$br-6: 6px;
$br-8: 8px;
$br-10: 10px;
$br-12: 12px;
$br-14: 14px;

/*================================================
			Border Thickness
==================================================*/

// bt == border thickness

$bt-0: 0px;
$bt-1: 1px;
$bt-2: 2px;
$bt-4: 4px;
$bt-8: 8px;
$bt-10: 10px;
