/*================================================
			padding classes
==================================================*/
// creates classes like `.lib-pt4`

$padding-list: (
  'zero': $space-zero,
  '2x-small': $space-2x-small,
  'x-small': $space-x-small,
  'small': $space-small,
  'med': $space-med,
  'large': $space-large,
  'x-large': $space-x-large,
  '2x-large': $space-2x-large,
  '3x-large': $space-3x-large,
  '4x-large': $space-4x-large,
  '5x-large': $space-5x-large,
  '6x-large': $space-6x-large,
  '7x-large': $space-7x-large,
);

@each $space, $spacing in $padding-list {
  .lib-p_#{$space} {
    padding: $spacing;
  }

  .lib-px_#{$space} {
    padding-left: $spacing;
    padding-right: $spacing;
  }

  .lib-py_#{$space} {
    padding-top: $spacing;
    padding-bottom: $spacing;
  }

  .lib-pt_#{$space} {
    padding-top: $spacing;
  }

  .lib-pr_#{$space} {
    padding-right: $spacing;
  }

  .lib-pb_#{$space} {
    padding-bottom: $spacing;
  }

  .lib-pl_#{$space} {
    padding-left: $spacing;
  }
}
