/*================================================
			padding classes
==================================================*/
// creates classes like `.lib-pt4`

$padding-list: (
  '0': $space-zero,
  '4': $space-2x-small,
  '8': $space-x-small,
  '12': $space-small,
  '16': $space-med,
  '24': $space-large,
  '32': $space-2x-large,
  '48': $space-3x-large,
  '64': $space-4x-large,
  '96': $space-5x-large,
  '128': $space-6x-large,
  '192': $space-7x-large,
);

@each $space, $spacing in $padding-list {
  .lib-p_#{$space} {
    padding: $spacing;
  }

  .lib-px_#{$space} {
    padding-left: $spacing;
    padding-right: $spacing;
  }

  .lib-py_#{$space} {
    padding-top: $spacing;
    padding-bottom: $spacing;
  }

  .lib-pt_#{$space} {
    padding-top: $spacing;
  }

  .lib-pr_#{$space} {
    padding-right: $spacing;
  }

  .lib-pb_#{$space} {
    padding-bottom: $spacing;
  }

  .lib-pl_#{$space} {
    padding-left: $spacing;
  }
}
