// These are classes you can stick on stuff to do things for you.
// clearfix is a prime example. If you wanted to do a text-center class.
// basically you attach a property or style to a single class that
// changes the element accordingly.

.block-title {
	@include responsive-text(18px, 22px);
	border-left: 5px solid;
	display: inline-block;
	color: $black;
	margin-bottom: em(12);
	padding-left: em(12);

	code {
		vertical-align: middle;
	}
}

.clearfix {
	*zoom: 1;
	clear: both;

	&:before,
	&:after {
		content: ' ';
		display: table;
	}

	&:after {
		clear: both;
	}
}

.comment {
	color: #aaa;
	margin: 0;
	padding: 0;
}

.lead {
	@include responsive-text(18px, 20px);
	color: $black;
	font-weight: 700;
}

.space-large {
	@include clearfix;
	padding-top: em($spacing-large);
}

.space-med {
	padding-top: em($spacing-med);
}

.space-small {
	padding-top: em($spacing-small);
}
