{% extends '../_typhoon.html.twig' %}

{% block title %}
  General Content Blocks -
{% endblock %}

{% block content %}
  <h1>
    General Content Blocks
  </h1>
  <section class="lib-my_5x-large">
    {% include '../_blocks/_gen-con.html.twig' %}
  </section>
{% endblock %}
