{% extends '../_typhoon.html.twig' %}

{% set pageTitle = 'General Content' %}
{% set pageDesc = 'Building Blocks for general content pages' %}

{% block title %}
  General Content Blocks -
{% endblock %}

{% block content %}
  <section class="lib-my_5x-large">
    {% include '../_blocks/_gen-con.html.twig' %}
  </section>
{% endblock %}
