<div>
  <a href="#" class="lib-m-xs lib-button">Primary Button!</a>
  <a href="#" class="lib-m-xs lib-button lib-button-icon">Icon Button</a>
</div>
<div>
  <a href="#" class="lib-m-xs lib-button lib-button-secondary">
    Secondary Button!
  </a>
  <a href="#" class="lib-m-xs lib-button lib-button-secondary lib-button-icon">
    Secondary Button!
  </a>
</div>
<div>
  <a href="#" class="lib-m-xs lib-button lib-button-accent">Accent Button!</a>
  <a href="#" class="lib-m-xs lib-button lib-button-accent lib-button-icon">
    Accent Button!
  </a>
</div>
