{% set heroHeader = pageTitle %}
{% set subHeader = pageDesc %}

{% block heroText %}
  <div class="lib-header-special">
    <div>
      <h1 class="lib-header-special--text lib-text-white">
        {{ heroHeader }}
      </h1>
    </div>
    <span class="lib-header-special--sub lib-mt-xs lib-text-yellow-400">
      {{ subHeader }}
    </span>
  </div>
{% endblock %}
