{% set heroHeader = pageTitle %}
{% set subHeader = pageDesc %}

{% block heroText %}
  <div class="lib-header-special lib-mt-7xl lib-ml-5xl md:lib-ml-4xl sm:lib-ml-3xl xs:lib-ml-xl">
    <h1 class="lib-header-special--text lib-text-white">
      {{ heroHeader }}
    </h1>
    <span class="lib-header-special--sub lib-mt-md lib-text-yellow-400">
      {{ subHeader }}
    </span>
  </div>
{% endblock %}
