{% extends '../_typhoon.html.twig' %}

{% set pageTitle = 'Components' %}
{% set pageDesc = 'Typhoon component library' %}

{% block title %}
  {{ pageTitle }} -
{% endblock %}

{% block content %}
  <section class="lib-my_5x-large">
    {% include '../_elements/_buttons.html.twig' %}
    {% include '../_elements/_input.html.twig' %}
  </section>

  <section class="lib-my_5x-large">
    <h2 class="lib-mb_2x-large">
      Components
    </h2>
    {% include '../_components/_show.html.twig' %}
    {% include '../_components/_basic-card.html.twig' %}
  </section>
{% endblock %}
