{% extends '../_typhoon.html.twig' %}

{% set pageTitle = 'Components' %}
{% set pageDesc = 'Typhoon component library' %}

{% block title %}
  {{ pageTitle }} -
{% endblock %}

{% block content %}
  <section id="buttons" class="lib-mb-5xl">
    <h3>
      Buttons
    </h3>
    {% include '../_elements/_buttons.html.twig' %}
  </section>
  <section id="form" class="lib-my-5xl">
    <h3>
      Form
    </h3>
    {% include '../_elements/_input.html.twig' %}
  </section>
  <section id="accordion" class="lib-my-5xl">
    <h3>
      Accordian
    </h3>
    {% include '../_components/_accordion.html.twig' %}
  </section>
  <section id="basic-cards" class="lib-my-5xl">
    <h3>
      Basic Cards
    </h3>
    {% include '../_components/_basic-card.html.twig' %}
  </section>
  <section id="basic-cards--image" class="lib-my-5xl">
    <h3>
      Basic Cards w/ Image
    </h3>
    {% include '../_components/_basic-card--image.html.twig' %}
  </section>
  <section id="news-card--lead" class="lib-my-5xl">
    <h3>
      News Card Lead
    </h3>
    {% include '../_components/_news-card--lead.html.twig' %}
  </section>
{% endblock %}
