.lib-accordion {
}

.lib-accordion--item {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: $br4;
  box-shadow: $vert-light-2;
  padding: $space16 $space32;
  transition: 0.3s ease;
  width: 100%;

  &:not(last-of-type) {
    margin-bottom: $space16;
  }

  &:hover {
    box-shadow: $vert-light-3;
  }

  .js-open {
    // transition: 0.5s ease;
  }
}

.lib-accordion--title {
  display: flex;
  flex-basis: 1 1 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  h4 {
    display: inline-block;
  }

  .icon {
    display: inline-block;
    position: relative;
    height: rem(16);
    width: rem(16);
    transition: transform 0.3s ease;

    &::before {
      @include absolute-center();
      font-family: 'FontAwesome';
      content: '\f078';
      // height: rem(16);
      // width: rem(16);
    }

    .js-open & {
      transform: rotateZ(180deg);
    }
  }
}

.lib-accordion--content {
  height: auto;
  max-height: 0;
  overflow: hidden;
  // opacity: 0;
  transition: 0.5s ease;
  text-align: left;

  .js-open & {
    max-height: 5000px;
    overflow: initial;
    // opacity: 1;
  }
}
