<div class="lib-gen-con--wrap">
        <h1 class="lib-gen-con--page-title">Page Title</h1>
        <section class="lib-gen-con--block lib-text-block">
          <h2 class="lib-block-title">Text Block</h2>
          <div class="lib-content-wrap">
            <p class="lead">
              Donec sollicitudin <a href="#">molestie malesuada</a>.
              Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit
              amet, consectetur adipiscing elit.
              <strong>Mauris blandit</strong> aliquet elit, eget tincidunt nibh
              pulvinar a.Praesent sapien massa, convallis a pellentesque nec,
              egestas non nisi.
            </p>
            <p>
              Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget
              felis porttitor volutpat. Vestibulum ac diam sit amet quam
              vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Nulla quis lorem ut libero malesuada
              feugiat.Donec sollicitudin molestie malesuada. Pellentesque in
              ipsum id orci porta dapibus. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Mauris blandit aliquet elit, eget
              tincidunt nibh pulvinar a.Praesent sapien massa, convallis a
              pellentesque nec, egestas non nisi.
            </p>
          </div>
        </section>
        <section class="lib-gen-con--block lib-img-block lib-text-img-right">
          <h2 class="lib-block-title">Text Image Right</h2>
          <div class="lib-content-wrap">
            <div class="lib-gen-con--img-wrap">
              <figure>
                <img src="img/Dawnbreaker600x600.jpg" alt="test-img" />

                <figcaption>Image Caption</figcaption>
              </figure>
            </div>
            <p>
              Donec sollicitudin molestie malesuada. Pellentesque in ipsum id
              orci porta dapibus. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh
              pulvinar a.Praesent sapien massa, convallis a pellentesque nec,
              egestas non nisi.
            </p>
            <h3>Text Block</h3>
            <p>
              Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget
              felis porttitor volutpat. Vestibulum ac diam sit amet quam
              vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Nulla quis lorem ut libero malesuada
              feugiat.
            </p>
            <p>
              Donec sollicitudin molestie malesuada. Pellentesque in ipsum id
              orci porta dapibus. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh
              pulvinar a.Praesent sapien massa, convallis a pellentesque nec,
              egestas non nisi.
            </p>
            <h4>Text Block</h4>
            <p>
              Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget
              felis porttitor volutpat. Vestibulum ac diam sit amet quam
              vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Nulla quis lorem ut libero malesuada
              feugiat.
            </p>
          </div>
        </section>
        <section class="lib-gen-con--block lib-img-block lib-text-img-left">
          <h2 class="lib-block-title">Text Image Left</h2>
          <div class="lib-content-wrap">
            <div class="lib-gen-con--img-wrap">
              <figure>
                <img src="img/Dawnbreaker600x600.jpg" alt="test-img" />
                <figcaption>Image Caption</figcaption>
              </figure>
            </div>
            <p>
              Donec sollicitudin molestie malesuada. Pellentesque in ipsum id
              orci porta dapibus. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Mauris blandit aliquet elit, eget tincidunt nibh
              pulvinar a.Praesent sapien massa, convallis a pellentesque nec,
              egestas non nisi.
            </p>
            <p>
              Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget
              felis porttitor volutpat. Vestibulum ac diam sit amet quam
              vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Nulla quis lorem ut libero malesuada
              feugiat.
            </p>
          </div>
        </section>
        <section class="lib-gen-con--block lib-img-block lib-block--large-img">
          <h2 class="lib-block-title">Large Image</h2>
          <div class="lib-content-wrap">
            <div class="lib-gen-con--img-wrap">
              <figure>
                <img src="img/Above-as-below16-9.jpg" alt="test-img" />
                <figcaption>Image Caption</figcaption>
              </figure>
            </div>
          </div>
        </section>
        <section class="lib-gen-con--block lib-img-block lib-block--two-img">
          <h2 class="lib-block-title">Two Images</h2>
          <div class="lib-content-wrap">
            <div class="lib-gen-con--img-wrap">
              <figure>
                <img src="img/Dawnbreaker600x600.jpg" alt="test-img" />
                <figcaption>Image Caption</figcaption>
              </figure>
            </div>
            <div class="lib-gen-con--img-wrap">
              <figure>
                <img src="img/Dawnbreaker600x600.jpg" alt="test-img" />
                <figcaption>Image Caption</figcaption>
              </figure>
            </div>
          </div>
        </section>
        <section class="lib-gen-con--block lib-img-block lib-block--three-img">
          <h2 class="lib-block-title">Three Images</h2>
          <div class="lib-content-wrap">
            <div class="lib-gen-con--img-wrap">
              <figure>
                <img src="img/Dawnbreaker600x600.jpg" alt="test-img" />
                <figcaption>Image Caption</figcaption>
              </figure>
            </div>
            <div class="lib-gen-con--img-wrap">
              <figure>
                <img src="img/Dawnbreaker600x600.jpg" alt="test-img" />
                <figcaption>Image Caption</figcaption>
              </figure>
            </div>
            <div class="lib-gen-con--img-wrap">
              <figure>
                <img src="img/Dawnbreaker600x600.jpg" alt="test-img" />
                <figcaption>Image Caption</figcaption>
              </figure>
            </div>
          </div>
        </section>
        <section class="lib-gen-con--block lib-text-block lib-block--link-list">
          <h2 class="lib-block-title">Link List</h2>
          <div class="lib-content-wrap">
            <p class="lead">
              Donec sollicitudin. Pellentesque in ipsum id orci porta dapibus.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              <strong>Mauris blandit</strong> aliquet elit, eget tincidunt nibh
              pulvinar a.Praesent sapien massa, convallis a pellentesque nec,
              egestas non nisi.
            </p>
            <ul class="lib-link-list">
              <li class="lib-link-list--item">
                <a href="words.docx">I'm a word file!</a>
              </li>
              <li class="lib-link-list--item">
                <a href="#">I'm a general doc</a>
              </li>
              <li class="lib-link-list--item">
                <a href="#.pdf">Here's a PDF!</a>
              </li>
              <li class="lib-link-list--item">
                <a href="#.xlsx">Now an excel!</a>
              </li>
              <li class="lib-link-list--item">
                <a href="#.org">I'mma link!</a>
              </li>
            </ul>
          </div>
        </section>
        <section
          class="lib-gen-con--block lib-text-block lib-block--link-abstract"
        >
          <h2 class="lib-block-title">Link List Abstract</h2>
          <div class="lib-content-wrap">
            <p class="lead">
              Donec sollicitudin. Pellentesque in ipsum id orci porta dapibus.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              <strong>Mauris blandit</strong> aliquet elit, eget tincidunt nibh
              pulvinar a.Praesent sapien massa, convallis a pellentesque nec,
              egestas non nisi.
            </p>
            <ul class="lib-link-list--abstract">
              <li class="lib-abstract-item">
                <a href="#">
                  <h4 role="title">Link title</h4>
                </a>
                <p>
                  Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                  Praesent sapien massa, convallis a pellentesque nec, egestas
                  non nisi.
                </p>
              </li>
              <li class="lib-abstract-item">
                <a href="#">
                  <h4 role="title">Link title</h4>
                </a>
                <p>
                  Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                  Praesent sapien massa, convallis a pellentesque nec, egestas
                  non nisi.
                </p>
              </li>
              <li class="lib-abstract-item">
                <a href="#">
                  <h4 role="title">Link title</h4>
                </a>
                <p>
                  Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                  Praesent sapien massa, convallis a pellentesque nec, egestas
                  non nisi.
                </p>
              </li>
              <li class="lib-abstract-item">
                <a href="#">
                  <h4 role="title">Link title</h4>
                </a>
                <p>
                  Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                  Praesent sapien massa, convallis a pellentesque nec, egestas
                  non nisi.
                </p>
              </li>
            </ul>
          </div>
        </section>
        <section class="lib-gen-con--block lib-quote-block lib-block--quote">
          <div class="lib-content-wrap">
            <div class="lib-quote--marks">
              <i class="fas fa-quote-left"></i>
            </div>
            <blockquote class="lib-quote">
              Donec sollicitudin molestie malesuada. Pellentesque in ipsum id
              orci porta dapibus. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.
              <cite>Person Name</cite>
            </blockquote>
          </div>
        </section>
        <section
          class="lib-gen-con--block lib-quote-block lib-block--quote-alt full-width"
        >
          <div class="lib-content-wrap">
            <div class="lib-quote--marks">
              <i class="fas fa-quote-left"></i>
            </div>
            <blockquote class="lib-quote">
              Donec sollicitudin molestie malesuada. Pellentesque in ipsum id
              orci porta dapibus. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.
              <cite>Person Name</cite>
            </blockquote>
          </div>
        </section>
        <section
          class="lib-gen-con--block lib-quote-block lib-block--quote-ribbon"
        >
          <div class="lib-content-wrap">
            <blockquote class="lib-quote">
              Donec sollicitudin molestie malesuada. Pellentesque in ipsum id
              orci porta dapibus. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit.
              <cite>Person Name</cite>
            </blockquote>
          </div>
        </section>
      </div>
    </article>