{% set menu =
  [
    {
      topPage: 'Introduction',
      topSlug: '/intro/index.html',
      subPages: [
        {
          subPage: 'Content',
          subSlug: '#content'
        },
        {
          subPage: 'Design',
          subSlug: '#design'
        },
        {
          subPage: 'Develop',
          subSlug: '#dev'
        }
      ]
    },
    {
      topPage: 'Writing Guide',
      topSlug: '/writing-guide/index.html',
      subPages: []
    },
    {
      topPage: 'Color',
      topSlug: '/color/index.html',
      subPages: [
        {
          subPage: 'Primary',
          subSlug: '#primary-colors'
        },
        {
          subPage: 'Secondary',
          subSlug: '#secondary-colors'
        },
        {
          subPage: 'Accent',
          subSlug: '#accent-colors'
        },
        {
          subPage: 'Neutral',
          subSlug: '#neutral-colors'
        },
        {
          subPage: 'Support',
          subSlug: '#support-colors'
        }
      ]
    },
    {
      topPage: 'Typography',
      topSlug: '/typography/index.html',
      subPages: [
        {
          subPage: 'Headers',
          subSlug: '#headers'
        },
        {
          subPage: 'Body Font',
          subSlug: '#body-font'
        }
      ]
    },
    {
      topPage: 'Spacing',
      topSlug: '/spacing/index.html',
      subPages: []
    },
    {
      topPage: 'Components',
      topSlug: '/components/index.html',
      subPages: [
        {
          subPage: 'Buttons',
          subSlug: '#buttons'
        },
        {
          subPage: 'Form',
          subSlug: '#form'
        },
        {
          subPage: 'Accordion',
          subSlug: '#accordion'
        },
        {
          subPage: 'Basic Cards',
          subSlug: '#basic-cards'
        }
      ]
    },
    {
      topPage: 'General Content',
      topSlug: '/general-content/index.html',
      subPages: [
        {
          subPage: 'Text Block',
          subSlug: '#text-block'
        },
        {
          subPage: 'Image Right',
          subSlug: '#image-right'
        },
        {
          subPage: 'Image Left',
          subSlug: '#image-left'
        },
        {
          subPage: 'Large Image',
          subSlug: '#large-image'
        },
        {
          subPage: 'Two Images',
          subSlug: '#two-images'
        },
        {
          subPage: 'Three Images',
          subSlug: '#three-images'
        },
        {
          subPage: 'Link List',
          subSlug: '#link-list'
        },
        {
          subPage: 'Link List Abstract',
          subSlug: '#link-list-abstract'
        },
        {
          subPage: 'Quote Block',
          subSlug: '#quote-block'
        },
        {
          subPage: 'Quote Block Banner',
          subSlug: '#quote-block-banner'
        },
        {
          subPage: 'Quote Block Ribbon',
          subSlug: '#quote-block-banner'
        }
      ]
    }
  ]
%}

<div class="typhoon-side-nav md:lib-mt-xl sm:lib-my-xs">
  <button 
    class="typhoon-top-nav--mobile lib-my-auto lib-p-med lib$space-0xl"
    role="navigation"
    aria-label="Mobile Nav Menu"
    aria-expanded="false">
    <div class="typhoon-mobile-btn">
      <span class="top lib-bg-yellow-600"></span>
      <span class="middle lib-bg-yellow-600"></span>
      <span class="bottom lib-bg-yellow-600"></span>
    </div>
  </button>
 <div class="typhoon-side-menu--wrap">
    {% for menuItem in menu %}
      <ul class="typhoon-side-nav--list lib-m-0 lib-p-0">
        <li class="typhoon-side-nav--item typhoon-side-nav--main-page lib-px-md">
          <a class="typhoon-side-nav--link typhoon-side-nav--main-link"
            href="{{ menuItem.topSlug }}">
            <span class="lib-text-white">{{ menuItem.topPage }}</span>
          </a>
        </li>
        {% if menuItem.subPages is empty %}
  
        {% else %}
          {% for subpage in menuItem.subPages %}
            <li class="typhoon-side-nav--item typhoon-side-nav--sub-page lib-pl-lg">
              <a class="typhoon-side-nav--link typhoon-side-nav--sub-link"
                href="{{ subpage.subSlug }}">
                <span class="lib-text-white">{{ subpage.subPage }}</span>
              </a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    {% endfor %}
 </div>
</nav>
