{% set menu =
  [
    {
      topPage: 'Introduction',
      topSlug: '/intro/index.html',
      subPages: [
        {
          subPage: 'Content',
          subSlug: '#content'
        },
        {
          subPage: 'Design',
          subSlug: '#design'
        },
        {
          subPage: 'Develop',
          subSlug: '#dev'
        }
      ]
    },
    {
      topPage: 'Writing Guide',
      topSlug: '/writing-guide/index.html',
      subPages: []
    },
    {
      topPage: 'Color',
      topSlug: '/color/index.html',
      subPages: [
        {
          subPage: 'Primary',
          subSlug: '#primary-colors'
        },
        {
          subPage: 'Secondary',
          subSlug: '#secondary-colors'
        },
        {
          subPage: 'Accent',
          subSlug: '#accent-colors'
        },
        {
          subPage: 'Neutral',
          subSlug: '#neutral-colors'
        },
        {
          subPage: 'Support',
          subSlug: '#support-colors'
        }
      ]
    },
    {
      topPage: 'Typography',
      topSlug: '/typography/index.html',
      subPages: []
    },
    {
      topPage: 'Spacing',
      topSlug: '/spacing/index.html',
      subPages: [
        {
          subPage: 'Margin',
          subSlub: '#margin'
        },
        {
          subPage: 'Padding',
          subSlub: '#padding'
        }
      ]
    },
    {
      topPage: 'Components',
      topSlug: '/components/index.html',
      subPages: []
    },
    {
      topPage: 'General Content',
      topSlug: '/general-content/index.html',
      subPages: []
    }
  ]
%}

<nav class="typhoon-side-nav lib-mt_x-large">
  {% for menuItem in menu %}
    <ul class="typhoon-side-nav--list lib-m_zero lib-p_zero">
      <li class="typhoon-side-nav--item typhoon-side-nav--main-page lib-px_med">
        <a class="typhoon-side-nav--link typhoon-side-nav--main-link"
          href="{{ menuItem.topSlug }}">
          <span>{{ menuItem.topPage }}</span>
        </a>
      </li>
      {% if menuItem.subPages is empty %}

      {% else %}
        {% for subpage in menuItem.subPages %}
          <li class="typhoon-side-nav--item typhoon-side-nav--sub-page lib-pl_large">
            <a class="typhoon-side-nav--link typhoon-side-nav--sub-link"
              href="{{ subpage.subSlug }}">
              <span>{{ subpage.subPage }}</span>
            </a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  {% endfor %}
</nav>
