<nav class="typhoon-side-nav lib-mt_x-large">
  <ul>
    <li><a href="/intoduction">Introduction</a></li>
    <li>
      <a href="/writing-guide">Writing Guide</a>
      <ul>
        <li><a href="#voice">Voice and Tone</a></li>
        <li><a href="#writing-style">Writing Style</a></li>
      </ul>
    </li>
    <li>
      <a href="/spacing">Spacing</a>
      <ul>
        <li><a href="#padding">Padding</a></li>
        <li><a href="#margin">Writing Style</a></li>
      </ul>
    </li>
    <li><a href="/colors">Colors</a></li>
    <li>
      <a href="/components">Components</a>
      <ul>
        <li><a href="#buttons">Buttons</a></li>
        <li><a href="#show">Hide Show</a></li>
        <li><a href="#form">form</a></li>
      </ul>
    </li>
  </ul>
</nav>
