<header class="typhoon-top-nav--wrap lib-bg-white">
  <div class="lib-mx-2xl">
    <nav class="typhoon-top-nav d-flex justify-content-between">
      <span class="typhoon-top-nav--title lib-py-md lib-text-xl" role="titles">
        <a class="typhoon-top-nav--link lib-text-red-500" href="/">Typhoon</a>
      </span>
      <a href="/"
        class="typhoon-top-nav--home lib-my-auto lib-py-md lib-px-lg lib-text-xl lib-text-red-500"
        role="link"
        aria-label="Home Page">
        <div>
          <i class="fas fa-home"></i>
        </div>
      </a>
    </nav>
  </div>
</header>
