{% set version = 'v0.1' %}

<header class="typhoon-top-nav--wrap lib-bg-warm-grey-300">
  <div class="container">
    <nav class="typhoon-top-nav d-flex justify-content-between">
      <span class="typhoon-top-nav--title lib-py_med lib-fs_x-large lib-white"
        role="titles">
        Typhoon {{ version }}
      </span>
      <a href="/"
        class="typhoon-top-nav--home lib-my_auto lib-p_med lib-fs_x-large lib-white"
        role="link"
        aria-label="Home Page">
        <div>
          <i class="fas fa-home"></i>
        </div>
      </a>
    </nav>
  </div>
</header>
