{% set headings = {
  h6: 'The quick brown fox jumped over the lazy dog',
  h5: 'The quick brown fox jumped over the lazy dog',
  h4: 'The quick brown fox jumped over the lazy dog',
  h3: 'The quick brown fox jumped over the lazy dog',
  h2: 'The quick brown fox jumped over the...',
  h1: 'The quick brown fox jumped...',
} %}

<section class="lib-mb-4xl">
  <div id="headers" class="lib-mb-4xl">
    <h2 class="merriweather">
      Headers
    </h2>
    <div>
      {% for heading, text in headings %}
      <{{heading}}>
        {{text}}
      </{{heading}}>
      {% endfor %}
    </div>
  </div>

  <div id="body-font">
    <h2 class="nimbus-sans">
      Body Font
    </h2>
    <p class="nimbus-sans">
      Labore sit ut duis adipisicing officia ea sit. Officia incididunt do labore velit non ex est laborum eiusmod do
      nulla. Dolor esse ullamco magna et exercitation sunt cillum est eu ut ipsum excepteur. Consequat fugiat labore
      cupidatat ut irure ut exercitation. Occaecat veniam officia eiusmod minim commodo laborum.</p>
    <p>
      Consequat id et cupidatat occaecat ut fugiat occaecat enim. Reprehenderit et ad veniam officia et et. Tempor ad
      irure velit est elit veniam cillum nisi adipisicing. Exercitation culpa occaecat nostrud nostrud laboris ipsum
      laborum minim excepteur adipisicing. Commodo ipsum incididunt officia deserunt est.
    </p>
  </div>
</section>