.lib-gen-con--wrap {
  max-width: rem(850);
  margin: 0 auto;

  h1 {
    margin-bottom: $space48;
  }
  h2 {
    font-size: $fs30;
    margin-bottom: $space16;
  }
  h3 {
    font-size: $fs24;
    margin-bottom: $space8;
  }
  h4 {
    font-size: $fs18;
    font-weight: 600;
    margin-bottom: $space8;
  }

  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
    margin-top: 0;
  }

  .lib-gen-con--page-title {
  }

  .lib-gen-con--block {
    margin-bottom: $space48;

    .block-title {
      display: inline-block;
    }

    & p:first-of-type {
      margin-top: 0;
    }

    & p:last-of-type {
      margin-bottom: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .img-block {
    @include clearfix;
  }

  .text-img-right {
    .lib-gen-con--img-wrap {
      float: right;
      margin-left: $space24;
    }
  }

  .text-img-left {
    .lib-gen-con--img-wrap {
      float: left;
      margin-right: $space24;
    }
  }

  .two-img {
    .lib-gen-con--img-wrap {
      max-width: rem(400);
    }
  }

  .three-img {
    .lib-gen-con--img-wrap {
      max-width: rem(250);
    }
  }

  .two-img,
  .three-img {
    .content-wrap {
      display: flex;
      justify-content: space-around;
    }
  }

  .lib-gen-con--img-wrap {
    max-width: rem(300);
    width: 100%;

    figure {
      position: relative;
      padding-top: percentage(400/400);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
      height: auto;
      box-shadow: $vert-dark-2;
    }

    figcaption {
      padding-top: $space12;
      text-align: center;
    }
  }
}
