{% extends '../_typhoon.html.twig' %}

{% block title %}
  Typography -
{% endblock %}

{% block content %}
  <h1>
    Typography
  </h1>

  {% include '../_blocks/_typography.html.twig' %}
{% endblock %}
