.colors--wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.color--info {
  text-align: center;

  div {
    width: $space-4x-large;
    height: $space-4x-large;
    box-shadow: $vert-light-1;
    border-radius: 4px;
    transition: 0.3s ease;

    &:hover {
      box-shadow: $vert-light-2;
      transform: scale(1.12);
    }
  }

  .prime {
    width: $space-5x-large;
    height: $space-5x-large;
  }
}
