.typhoon-top-nav--wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.typhoon-top-nav--home {
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: $warm-grey-100;
  }
}

#s-lc-eq-p-navform {
  position: relative;
  &::before {
    content: 'Laptops and iPads are in a seperate location';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
  }
}
