.typhoon-page-wrap {
  padding-top: rem(70);
  flex: 1;

  p {
    max-width: 800px;
  }
}

.typoon-main-content-wrap {
  margin-top: $space-4x-large;
  padding: 0 rem(35) 0;
  max-width: 1200px;
}

.typhoon-full-height {
  height: 100%;
}
