

.button,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
	@include responsive-text( 14px, 20px);
	background-color: $button-primary-background-color;
	border: 1px solid $button-primary-border-color;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
	color: $button-primary-text;
	cursor: pointer;
	display: inline-block;
	font-family: "system";
	line-height: 1rem;
	margin: 0 0 0.5em;
	padding: 1em 1.5em;
	text-align: center;
	text-decoration: none;
	transition: 0.3s ease;
	
	&:hover {
		background-color: lighten($button-primary-background-color, 10%)
	}
}
.button-full {
	width: 100%;
}

.button-large {
	 @include responsive-text( 16px, 24px);
	padding: 1.2em 1.5em;
}

.button-small {
	 @include responsive-text( 10px, 16px);
	padding: 0.8em 1em;
}

.button-ghost {
	background-color: transparent;
	border-color: $button-primary-text;
	color: $button-primary-text;
	
	&:hover {
		background-color: darken(#fff, 5%)
	}
}

.button-secondary, 
input[type="reset"].button-secondary,
input[type="submit"].button-secondary,
input[type="button"].button-secondary {
	background-color: $button-secondary-background-color;
	border-color: $button-secondary-border-color;
	color: $button-secondary-text;
	
	&:hover {
		background-color: lighten($button-secondary-background-color, 10%)
	}
}

.button-ghost.button-secondary {
	background-color: transparent;
	border-color: $button-secondary-background-color;
	color: $button-secondary-background-color;
	
	&:hover {
		background-color: darken(#fff, 5%)
	}
}
