
*, *:before, *:after {
    box-sizing: border-box;
}

.grid {
	@include clearfix;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1180px;
	width: 96%;
	
	@for $i from 1 through $grid {

		.col-#{$i} {
			width: percentage($i/$grid); 
		}

		.sub-col-#{$i} {
			width: percentage($i/$grid); 
		}

		.offset-#{$i} { 
			margin-left: percentage($i/$grid); 
		}
	}

	[class*=col-] {
		@include clearfix;
		box-sizing: border-box;
		float: left;
		padding: 0 percentage(12/1140);
		margin-bottom: 0.5rem;
		
		@include bp(ml) {
			width: 100%;
		}
		
		[class*=sub-col-] { 
			padding: 0;
		 }

	}

	[class*=offset] {
		@include clearfix;
		box-sizing: border-box;
		float: left;
		padding: 0 percentage(12/1140);
		margin-bottom: 0.5rem;
		
		@include bp(ml) {
			margin-left: 0;
		}
	}
}

.grid-css {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: repeat($grid-css, 1fr);
	margin: 0 auto;
	max-width: 1180px;
	width: 96%;

	@for $col-start from 1 through $grid-css {
		@for $col-end from 1 through $grid-css {

			.col-#{$col-start}-#{$col-end} {
				grid-column-start: $col-start; 
				grid-column-end: ($col-end + 1); 
			}
		}
	}

	[class^=col-] {
		box-sizing: border-box;
		margin-bottom: 0.5rem;
		padding: 0 percentage(12/1140);
		
		@include bp(ml) {
			grid-column-start: 1;
			grid-column-end: ($grid-css + 1);
		}
	}

	@for $row-start from 1 through $grid-css-row {
		@for $row-end from 1 through $grid-css-row {

			.row-#{$row-start}-#{$row-end} {
				grid-row-start: $row-start; 
				grid-row-end: ($row-end + 1); 
			}
		}
	}	
}