{% extends '../_typhoon.html.twig' %}

{% set pageTitle = 'Introduction' %}
{% set pageDesc = 'Learn more about Typhoon' %}

{% block title %}
  {{ pageTitle }} -
{% endblock %}

{% block content %}
  <p>
    exercitation duis fugiat. Dolor magna et ut ipsum irure commodo esse cillum
    eu. Mollit incididunt consectetur sint occaecat irure id elit. Duis tempor
    et quis excepteur sunt labore nostrud aliqua magna nostrud. Commodo eu
    proident ad anim. Cillum eiusmod et qui veniam incididunt voluptate labore
    sint in. Amet excepteur ea anim irure amet.
  </p>

  <p>
    Fugiat deserunt in duis irure exercitation in qui eiusmod magna eu. Proident
    reprehenderit in ex nisi non cupidatat ut dolor eiusmod. Commodo consequat
    voluptate fugiat exercitation ut duis proident velit veniam deserunt est
    voluptate. Nisi Lorem ex irure deserunt quis reprehenderit. Cupidatat tempor
    sint labore ad id aliquip incididunt ipsum est consequat. Labore est id elit
    culpa tempor ullamco aliqua.
  </p>
{% endblock %}
