{% extends '../_typhoon.html.twig' %}

{% set pageTitle = 'Introduction' %}
{% set pageDesc = 'Learn more about Typhoon' %}

{% block title %}
  {{ pageTitle }} -
{% endblock %}

{% block overview %}
  Learn some things
{% endblock %}

{% block content %}
  <section class="lib-gen-con--block lib-text-block">
    <h2 class="lib-block-title">
      Content
    </h2>
    <div class="lib-content-wrap">
      <p>
        Donec sollicitudin. Pellentesque in ipsum id orci porta dapibus. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. aliquet elit, eget
        tincidunt nibh pulvinar a.Praesent sapien massa, convallis a
        pellentesque nec, egestas non nisi.
      </p>
      <a href="/writing-guide/index.html" class="lib-button">Writing Guide</a>
    </div>
  </section>
  <section class="lib-gen-con--block lib-text-block">
    <h2 class="lib-block-title">
      Design
    </h2>
    <div class="lib-content-wrap">
      <p>
        Donec sollicitudin. Pellentesque in ipsum id orci porta dapibus. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. aliquet elit, eget
        tincidunt nibh pulvinar a.Praesent sapien massa, convallis a
        pellentesque nec, egestas non nisi.
      </p>
      <a href="/color/index.html" class="lib-button">Color</a>
      <a href="#" class="lib-button lib-button-secondary">Sketch Library</a>
    </div>
  </section>
  <section class="lib-gen-con--block lib-text-block">
    <h2 class="lib-block-title">
      Develop
    </h2>
    <div class="lib-content-wrap">
      <p>
        Donec sollicitudin. Pellentesque in ipsum id orci porta dapibus. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. aliquet elit, eget
        tincidunt nibh pulvinar a.Praesent sapien massa, convallis a
        pellentesque nec, egestas non nisi.
      </p>
      <a href="/components/index.html" class="lib-button">Components</a>
      <a href="#" class="lib-button lib-button-secondary">Story Book</a>
    </div>
  </section>
{% endblock %}
