.lib-gen-con--wrap {
  max-width: rem(850);
  margin: 0 auto;

  h1 {
    margin-bottom: $space48;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

// .lib-gen-con--page-title {
// }

.lib-gen-con--block {
  margin-bottom: $space48;

  .lib-block-title {
    display: inline-block;
  }

  & p:first-of-type {
    margin-top: 0;
  }

  & p:last-of-type {
    margin-bottom: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.lib-img-block {
  @include clearfix;
}

.lib-text-img-right {
  .lib-gen-con--img-wrap {
    float: right;
    margin-left: $space24;
  }
}

.lib-text-img-left {
  .lib-gen-con--img-wrap {
    float: left;
    margin-right: $space24;
  }
}

.lib-block--large-img {
  .lib-gen-con--img-wrap {
    max-width: rem(850);

    figure {
      position: relative;
      padding-top: percentage(9/16);
    }
  }
}

.lib-block--two-img {
  .lib-gen-con--img-wrap {
    max-width: rem(400);
  }
}

.lib-block--three-img {
  .lib-gen-con--img-wrap {
    max-width: rem(250);
  }
}

.lib-block--two-img,
.lib-block--three-img {
  .lib-content-wrap {
    display: flex;
    justify-content: space-around;
  }
}

.lib-gen-con--img-wrap {
  max-width: rem(300);
  width: 100%;

  figure {
    position: relative;
    padding-top: percentage(400/400);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    box-shadow: $vert-dark-2;
  }

  figcaption {
    padding-top: $space12;
    text-align: center;
    font-style: italic;
  }
}

.lib-block--link-list {
  $doc-types: (
    '.docx': '\f1c2',
    '.pdf': '\f1c1',
    '.xlsx': '\f1c3',
    '.jpg': '\f1c5',
    '.png': '\f1c5',
    '.com': '\f35d',
    '.net': '\f35d',
    '.edu': '\f35d',
    '.org': '\f35d',
  );

  @each $docType, $icon in $doc-types {
    .lib-link-list--item {
      @if "a[href*='#{$docType}']" {
        a[href*='#{$docType}']::before {
          content: $icon;
        }
      }
    }
  }
  // box-sizing: content-box;
  .lib-link-list {
    display: flex;
    flex-wrap: wrap;
    margin: $space32 0 0 0;
  }
  .lib-link-list--item {
    position: relative;
    width: 50%;
    margin-bottom: $space16;
    padding-left: $space32;

    a {
      font-family: $heading-font;

      &::before {
        @include vert_center();
        font-family: 'FontAwesome';
        content: '\f15c';
        font-size: $fs18;
        left: 0;
        color: inherit;
      }
    }
  }
}

.lib-link-list--abstract {
  margin: $space32 0 0 0;

  .lib-abstract-item {
    position: relative;
    margin-bottom: $space24;
    padding-left: $space32;

    &::before {
      @include vert_center(0);
      font-family: 'FontAwesome';
      content: '\f35d';
      // font-size: $fs16;
      left: 0;
      color: $primary-color;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    h4 {
      line-height: 1.5;
      color: inherit;
      display: inline-block;
    }
  }
}

.lib-quote-block {
  position: relative;

  padding: $space32 0 0;
  text-align: center;
}

.lib-block--quote {
}

.lib-block--quote-alt {
  padding: $space32 0 $space48;
  background-color: $warm-grey-100;

  .lib-quote {
    max-width: rem(637.5);
  }
}

.lib-quote--marks {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: rem(32);
  height: rem(32);
  border-radius: 100%;
  background-color: $warm-grey-300;

  i {
    @include absolute-center;
    position: absolute;
    text-align: center;
  }
}

.lib-block--quote-ribbon {
  padding: $space32 0 $space32;
  background-color: $warm-grey-100;
  box-shadow: $vert-light-2;
  border-radius: $br4;
  border-left: solid 4px $warm-grey-600;
  quotes: '“' '”';

  &::before,
  &::after {
    position: absolute;
    top: 12%;
    font-family: $heading-font;
    font-size: rem(102);
    line-height: 1;
    color: $warm-grey-300;
  }

  &::before {
    content: open-quote;
    left: 5%;
  }
  &::after {
    content: close-quote;
    right: 5%;
  }
}

.lib-quote {
  max-width: 75%;
  font-family: $heading-font;
  font-style: italic;
  font-size: $fs18;
  margin: 0 auto;

  cite {
    display: inline-block;
    position: relative;
    font-style: initial;
    margin: 0 auto;
    padding: $space12 $space12 0;
    color: $warm-grey-600;

    &::before,
    &::after {
      content: '\2014';
      color: $warm-grey-700;
      padding: 0 $space12;
    }

    &::before {
      left: -10%;
    }

    &::after {
      right: -10%;
    }
  }
}
