.lib-special-header--wrap {
  .lib-header-special {
    position: relative;
    display: inline-block;
    z-index: 1;
  }

  .lib-header-special--text {
    color: $red-500;
    font-size: 64px;
    position: relative;
    margin: 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: $yellow-500;
      width: 0.5rem;
      height: 2.5rem;
      transform-origin: center;
      transform: rotate(45deg) scaleY(2) translateX(0);
      z-index: 5;
    }

    &::before {
      top: -10%;
      left: -2%;
    }

    &::after {
      bottom: -5%;
      right: -4%;
    }
  }
}
