.lib-header-special {
  position: relative;
  display: inline-block;
  margin-top: $space-7xl;
  margin-left: $space-5xl;
  z-index: 1;
}

.lib-header-special--text {
  display: inline-block;
  font-size: $space-4xl;
  position: relative;
  margin: 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: $yellow-500;
    width: 0.5rem;
    height: 2.5rem;
    transform-origin: center;
    transform: rotate(45deg) scaleY(2) translateX(0);
    z-index: 5;
  }

  &::before {
    top: -10%;
    left: -2%;
  }

  &::after {
    bottom: -6%;
    right: -5%;
  }
}

.lib-header-special--sub {
  display: inline-block;
  padding-left: $space-xs;
  font-size: $space-lg;
  max-width: 100%;
}
